<div id=<%= combined_dom_id(room, message) %> class="room_message">
    <%# <%= profile_picture(message.user) TODO at some point probably%>
    <span><b><%= message.user.username %>:</b></span>
    <%= message.content %>
    <br>
</div>
