<div id="form_flex">
    <h1>Evenfall</h1>
    <div class="form_center">
        <%= form_with model: room, class: "simple_form" do | form | %>
            <%= form.text_field :name, required: true, placeholder: "Name your room" %>
            <%= form.text_area :description, required: true, placeholder: "Describe your room" %>
            <%= form.submit %>
        <% end %>
    </div>
</div>