<div id="form_flex">
    <h1>Evenfall</h1>
    <div class="form_center">
        <%= form_with model: room, class: "simple_form" do | form | %>
            <%= form.label :name %>
            <%= form.text_field :name, required: true %>

            <%= form.submit %>
        <% end %>
    </div>
</div>