<div id="content_grid">
    <div id="chat_rooms">
        <% @rooms.each do | room | %>
            <%= render "rooms/room_card", room: room %>
        <% end %>
        <%= link_to "Create Room", new_room_path %>
    </div>
</div>

