/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html, body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
}

p, .trix-content, label, h1, h2, h3, h4, h5, h6, span {
    color: var(--text);
    font-family: 'Corbel';
    line-height: 24px
}

label {
    margin-right: 1em;
}


input[type="text"], input[type="file"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
  background-color: transparent;
  padding: 0.25em;
  border-color: var(--border);
  color: var(--text);
  font-size: 16px;
  outline: none;
}

input[type="password"] {
    width: 11.8rem;
}

a {
    color: var(--links)
}

button, input[type="submit"], a.navbutton {
    all: unset;
    border-radius: 0.5em;
    background-color: var(--links);
    padding: 0.5em;
    cursor: pointer;
    color: var(--background)
}

h1 {
    font-family: 'Palatino Linotype';
}

header, #sidebar, #messages {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: var(--border);
    border-radius: 0.5em;
    padding-left: 0.5em;
    border-width: 2px;
    margin: 8px;
    overflow-y: auto;
    max-height: 70vh;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-height: 1100px) {
    #messages {
        max-height: 55vh
    }

}

form.simple_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

img.profile-picture {
  width: 48px;
  height: 48px;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: var(--border);
}