/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

html, body {
    background-color: var(--background);
}

p, .trix-content, label, h1, h2, h3, h4, h5, h6, span {
    color: var(--text);
    font-family: 'Corbel';
    line-height: 24px
}

input,
textarea,
select {
  font-size: 16px;
}

a {
    color: var(--links)
}

button, input[type="submit"], a.navbutton {
    all: unset;
    border-radius: 0.5em;
    background-color: var(--links);
    padding: 0.5em;
    cursor: pointer;
    color: var(--background)
}

h1 {
    font-family: 'Palatino Linotype';
}

.room_message {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    margin: 8px;
    gap: 0.5em;
    align-items: flex-start;
    flex-wrap: wrap;
}

.room_message:hover {
    background-color: var(--highlight);
    border-radius: 0.5em;
    padding-left: 0.5em;
}

header, #sidebar, #messages {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: var(--border-color);
    border-radius: 0.5em;
    padding-left: 0.5em;
    border-width: 2px;
    margin: 8px;
    overflow-y: auto;
    max-height: 75vh;
}

@media (max-height: 1100px) {
    #messages {
        max-height: 55vh
    }

}

img.profile-picture {
  width: 48px;
  height: 48px;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: var(--border-color);
}